@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Julius+Sans+One|Monoton|Montserrat+Subrayada|Pompiere|Pontano+Sans|Antic+Slab&display=swap");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  padding: 12px 7px 7px 7px;
  border-radius: 50%;
  background: rgba(243, 250, 239, 0.3);
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 2px;
    margin: 0 0 5px 0;
    background: #F3FAEF;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -5px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #5b7d7b;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #668C89;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 350px;
      height: 350px;
      z-index: 5;
      background: url(../img/renny-design-co-logo-simple.png);
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      border: solid 3px #F3FAEF; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    padding: 1rem 0;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #eece1a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.current {
  font-size: 7rem;
  font-family: 'PalmCanyon';
  color: #eece1a;
  border-bottom: 3px solid #F3FAEF; }

.not-current {
  font-size: 30px;
  font-family: 'Julius Sans One', sans-serif;
  color: #F3FAEF; }

@font-face {
  font-family: PalmCanyon;
  src: url(../assets/PalmCanyonDrive.otf); }

* {
  box-sizing: border-box;
  scroll-behavior: smooth; }

@keyframes pageLoad {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes liftOff {
  from {
    opacity: 1;
    transform: translateX(0px); }
  to {
    transform: translateX(500px);
    opacity: 0; } }

@keyframes clickMe {
  0% {
    opacity: 0; }
  30% {
    opacity: 5; }
  60% {
    opacity: 1; }
  90% {
    opacity: 5; }
  100% {
    opacity: 0; } }

.clickMe {
  animation-duration: 4s;
  animation-name: clickMe;
  animation-iteration-count: infinite; }

.clickMe:hover {
  cursor: pointer; }

@keyframes brighten {
  10% {
    transform: translateX(50px); }
  50% {
    color: #eece1a; } }

.brighten {
  animation-delay: 5s;
  animation-name: brighten;
  animation-duration: 7s;
  animation-iteration-count: infinite; }

body {
  background: #668C89;
  color: #F3FAEF;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI';
  line-height: 1.5;
  animation-name: pageLoad;
  animation-duration: 4s; }
  body#bg-img {
    background: url("../img/coast-trees.jpg");
    background-attachment: fixed;
    background-size: cover; }

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(102, 140, 137, 0.7); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 10rem;
    font-family: 'PalmCanyon'; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    display: inline-block;
    background: rgba(102, 140, 137, 0.5);
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    font-family: 'Julius Sans One', sans-serif;
    color: #eece1a; }

.needSpace {
  font-size: 1.3rem !important;
  margin-top: 5vh; }

.hello {
  font-family: 'PalmCanyon';
  font-size: 3rem; }

.we-do {
  font-size: 1.3rem; }

.quote {
  padding: 5px 0 5px 0;
  text-align: center;
  border-top: solid #eece1a 1px;
  border-bottom: solid #eece1a 1px; }

h3 {
  font-family: 'Julius Sans One', sans-serif; }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 5;
  width: 100%; }

.text-secondary {
  color: #eece1a; }

main {
  padding: 4rem;
  height: 100%; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #eece1a;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden !important;
    animation-name: pageLoad;
    animation-duration: 4s; }
    main#home h1 {
      margin-top: 20vh; }

main#about {
  margin-top: 50vh; }
  main#about ul {
    list-style: none; }

.bio-rdc {
  font-family: 'Monoton';
  color: #eece1a;
  font-size: 1.2rem; }

main#about p {
  font-family: 'Antic Slab', serif;
  font-size: 0.9rem; }

main#about li {
  font-family: 'Antic Slab', serif;
  font-size: 1rem; }

main#about .steps {
  font-size: 1.3rem;
  color: #eece1a; }

.bio-image {
  width: 300px;
  height: 300px; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio' 'job1 job2';
  grid-template-columns: repeat(2, 50%); }

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #eece1a 3px solid; }

.bio {
  grid-area: bio;
  font-size: 1.5rem;
  padding: 0.5rem;
  background: rgba(102, 140, 137, 0.8);
  border-top: 4px solid #F3FAEF;
  border-left: 15px solid #F3FAEF;
  border-bottom: 15px solid #F3FAEF;
  border-right: 1px solid #F3FAEF; }

.job-1 {
  grid-area: job1;
  padding: 0.5rem;
  background: rgba(102, 140, 137, 0.8);
  border-top: 4px solid #F3FAEF;
  border-left: 15px solid #F3FAEF;
  border-bottom: 15px solid #F3FAEF;
  border-right: 1px solid #F3FAEF; }

.job-2 {
  grid-area: job2;
  padding: 0.5rem;
  background: rgba(102, 140, 137, 0.8);
  border-top: 4px solid #F3FAEF;
  border-left: 15px solid #F3FAEF;
  border-bottom: 15px solid #F3FAEF;
  border-right: 1px solid #F3FAEF; }

.process {
  background: rgba(102, 140, 137, 0.8);
  border: solid 3px #F3FAEF; }

main#work {
  margin-top: 50vh; }

.projects {
  display: grid;
  margin-top: 8rem;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border-top: 4px solid #F3FAEF;
    border-left: 15px solid #F3FAEF;
    border-bottom: 15px solid #F3FAEF;
    border-right: 1px solid #F3FAEF; }
    .projects img:hover {
      opacity: 0.5;
      transition: all 0.5s ease-out; }

main#contact {
  margin-top: 50vh; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px solid #F3FAEF;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    font-family: 'Julius Sans One', sans-serif;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #F3FAEF;
      cursor: pointer;
      color: #668C89; }
      .boxes div:hover span {
        color: #668C89; }

footer h3 {
  text-align: center; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  font-family: 'Julius Sans One', sans-serif; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    border-color: #eece1a;
    color: #eece1a;
    transition: all 0.5s ease-out; }

.btn-dark {
  color: #F3FAEF;
  border: solid 3px #F3FAEF; }

.btn-light {
  color: #668C89;
  background: #F3FAEF;
  border: solid 3px #F3FAEF; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      width: 150px;
      height: 150px; }
  .bio-image {
    width: 250px;
    height: 250px; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); }
  main#contact h1 {
    margin-top: 5vh;
    font-size: 5rem; }
  .boxes div {
    font-size: 1.6rem; }
  main#about ul {
    text-align: left; } }

@media screen and (max-width: 500px) {
  @keyframes highLight {
    20% {
      padding: .5rem; }
    50% {
      padding: 1rem; }
    75% {
      padding: .5rem; } }
  .sm-heading {
    background: none !important; }
  #bg-img {
    background-image: none !important;
    background-color: #668C89 !important; }
  main#home h1 {
    margin-top: 10vh;
    font-size: 7rem; }
  .lg-heading {
    font-size: 10rem; }
  .sm-heading {
    font-size: 1rem; }
  main#about h1 {
    margin-top: 10vh;
    font-size: 7rem; }
  .bio-image {
    width: 150px;
    height: 150px; }
  main#work h1 {
    margin-top: 10vh;
    font-size: 7rem; }
  .process ul {
    text-align: center !important; }
  main#contact h1 {
    margin-top: 10vh;
    font-size: 3rem;
    padding-left: 1rem; }
  .boxes div {
    font-size: 1.2rem;
    padding: 0.5rem; }
  .projects {
    grid-template-columns: 1fr; }
  main#about {
    padding-left: 1vw;
    padding-right: 1vw; }
    main#about .about-info {
      display: grid;
      grid-template-areas: 'bioimage' 'bio' 'job1' 'job2';
      grid-template-columns: repeat(1, 100%);
      margin-left: 0vw;
      padding-left: 0vw; }
    main#about ul {
      list-style: none;
      text-align: left;
      padding-left: 1vw; }
  main#work {
    padding-left: 1vw;
    padding-right: 1vw; }
  main#contact .lg-heading {
    font-size: 7rem;
    padding-left: 0vw; }
  main#contact .boxes {
    margin-top: 7vh; }
    main#contact .boxes .email {
      animation-delay: 3s;
      animation-name: highLight;
      animation-duration: 5s;
      animation-iteration-count: infinite; }
    main#contact .boxes .phone {
      animation-delay: 5s;
      animation-name: highLight;
      animation-duration: 5s;
      animation-iteration-count: infinite; } }
